/**
 * File generated with dbToModel generator
 * @author Jonathan Diego Rodríguez Rdz. <jonathan@bquate.com>
 * @author Didier Richard. <didier@kisslog.fr>
 */
module.exports = {
{{#modelsName}}
  {{class}}: require('./objection/{{class}}'),
{{/modelsName}}
}
