/**
 * File generated with dbToRoutes generator
 * @author Jonathan Diego Rodríguez Rdz. <jonathan@bquate.com>
 * @author Didier Richard. <didier@kisslog.fr>
 */

const ctrl = require('../controllers/objectionController')

const routes = {
{{#tables}}
// Table {{table}}
  {{table}}: {
{{#types}}
    {{type}}: [
{{#routes}}
      { route: '{{{route}}}', controller: (req, res, next) => ctrl.{{controller}}(req, res, next) },
{{/routes}}
    ],
{{/types}}
  },
{{/tables}}
}
module.exports = routes
