/**
 * File generated with dbToControllers generator
 * @author Jonathan Diego Rodríguez Rdz. <jonathan@bquate.com>
 * @author Didier Richard. <didier@kisslog.fr>
 */

module.exports = {
{{#controllers}}
  {{controller}}: require('./objection/{{controller}}'),
{{/controllers}}
}